<html>
  <head>
    <title>Confirm your email</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Click here to confirm: </span>
      <span>{{link}}</span>
    </div>
  </body>
</html>
